{% extends 'base.html' %}

{% block head %}
  <link type="text/css" rel="stylesheet" href="../static/css/style.css">
  <title>FlightSite</title>
  <link rel='icon' href='../static/img/FS.png' type="image/x-icon">
{% endblock %}

{% block log_buttons %}
<form class="pull-right">
  <a class="btn btn-outline-info" href="javascript:history.back()">Dashboard</a>
  &nbsp;
  <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#logoutModal">
    Log Out
  </button>

  <!-- Modal for Logout -->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="logoutModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="logoutModalLabel">Log Out</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Do you really want to logout?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <a class="btn btn-primary" href="../logout">Log Out</a>
        </div>
      </div>
    </div>
  </div>
</form>
{% endblock %}

{% block body %}


  <form method="POST" action="/chpswd/{{id}}" style="margin-right: 20%; margin-left: 20%; padding-top: 20px">
      {{ form.hidden_tag() }}
      <h2 style="text-align: center;">Change Password</h2>
      <div class="form-group">
        <label for="currentp">Current Password</label>
        {{ form.oldp(class_="form-control") }}
      </div>
      <div class="form-group">
        <label for="newp">New Password</label>
        {{ form.newp(class_="form-control") }}
        <small class="form-text text-muted">Password should be atleast 8 character in length. Keep numeric and special characters to make it strong</small>
      </div>
      <div class="form-group">
        <label for="confnewp">Confirm New Password</label>
        {{ form.conf_newp(class_="form-control") }} <br> <br>
        <input type="submit" value="Change Password" class="btn btn-info">
      </div>              
  </form>
  {% if error %}
      <p class="error" style="color:red; text-align: center;"><strong>Error:</strong> {{ error }} </p>
  {% endif %}
  <ul>
      {% for field, errors in form.errors.items() %}
        <div class="alert alert-error">
            <li style="font-size: medium; color:darkred;">
              {{ form[field].label }}: {{ ', '.join(errors) }}
            </li>
        </div>
      {% endfor %}
  </ul>
            
{% endblock %}