{% extends 'home.html' %}

{% block log_buttons %}
<form class="pull-right">
  <a class="btn btn-outline-info" href="dashboard/{{id}}">Dashboard</a>
  &nbsp;
  <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#logoutModal">
    Log Out
  </button>

  <!-- Modal for Logout -->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="logoutModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="logoutModalLabel">Log Out</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Do you really want to logout?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <a class="btn btn-primary" href="logout">Log Out</a>
        </div>
      </div>
    </div>
  </div>
</form>
{% endblock %}

{% block jtron %}
<a class="btn btn-primary btn-lg" href="dashboard/{{id}}" role="button">Go to DashBoard!</a>
{% endblock %}