<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"
        id="bootstrap-css">
    <link type="text/css" rel="stylesheet" href="../static/css/style.css">

    <title>FlightSite</title>
    <link rel='icon' href='../static/img/FS.png' type="image/x-icon">
</head>

<body>

    <a class="btn btn-dark" href="home"><< Back to Home</a>
    <div class="login-reg-panel">
        <div class="login-info-box">
            <h2>Have an account?</h2>
            <p>Just Login with your Credentials!</p>
            <label id="label-register"><a href="login">Login</a></label>
            <input type="radio" name="active-log-panel" id="log-reg-show">
        </div>

        <div class="register-info-box">
            <h2>Don't have an account?</h2>
            <p>Sign up with us and Explore!</p>
            <label id="label-login" for="log-login-show">Sign Up</label>
            <input type="radio" name="active-log-panel" id="log-login-show" checked="checked">
        </div>

        <div class="white-panel">
            <div class="login-show">
                <h2>LOGIN</h2>
                <!-- <form method="POST" action="/login">
                    <!- <input type="text" placeholder="Email">
                    <input type="password" placeholder="Password"> ->
                    {#{{ form.hidden_tag() }}
                    {{ form.email(class_="text") }}
                    {{ form.password(class_="password") }}#}
                    <input type="button" value="Login">
                    <a href="">Forgot password?</a>
                </form> -->
            </div>
            <div class="register-show">
                <h2>SIGN UP</h2>
                <form method="POST" action="/register">
                    <!-- <input type="text" placeholder="Full Name">
                    <input type="text" placeholder="Email">
                    <input type="password" placeholder="Password"> -->
                    {{ form.hidden_tag() }}
                    {{ form.name(class_="text") }}
                    {{ form.username(class_="text") }}
                    {{ form.email(class_="text") }}
                    {{ form.password(class_="password") }}
                    {{ form.conf_password(class_="password") }}
                    <!-- <input type="password" placeholder="Confirm Password"> -->
                    <input type="submit" value="Sign Up">
                </form>
            </div>
        </div>
    </div>
    <ul>
        {% for field, errors in form.errors.items() %}
            <div class="alert alert-error">
                <li style="font-size: small; color:red;">
                    {{ form[field].label }}: {{ ', '.join(errors) }}
                </li>
            </div>
        {% endfor %}
    </ul>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../static/js/register.js"></script>
</body>

</html>